.banner-img{
    background-color: #1b51c4;
    height: 300px;
    -webkit-box-shadow: 0px 9px 5px 0px rgba(199, 199, 199, 1);
    -moz-box-shadow: 0px 9px 5px 0px rgba(199, 199, 199, 1);
    box-shadow: 0px 9px 5px 0px rgba(199, 199, 199, 1);
}
.inicio-comencemos{
    background-color: #f0f0f0;
}